 html {
      scroll-behavior: smooth;
    }
    h1,h2,h3,h4,h5,h6 {font-family: "Roboto"}
 
    body {font-family: "Source Sans Pro"
 background-color: lightblue;
 }
 ul {
  list-style-type: none;
  margin: 0;
  padding: 90;
  overflow: hidden;
  position: absolute;
  top: 46px;
  right: 35px;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 120%;
}

li a:hover {
  background-color: #111;
  color: white;
}